generator:
  class: sfDoctrineGenerator
  param:
    model_class:           NotasEvolucion
    theme:                 dojotheme
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          notas_evolucion
    with_doctrine_route:   true
    actions_base_class:    sfActions
    extra_url_custom_id:   internado_id

    config:
      actions: ~
      fields:  ~
      list:    
        title: Notas de Evolucion
        display: [fecha_hora, numero_prob, nota_soap]
        actions: {}
        batch_actions: {}
      filter:  
        display: [fecha_hora]
      form:    ~
      edit:    
        title: Editar Nota de Evolucion
        actions:
          _save: ~
      new:     
        title: Nueva Nota de Evolucion
        actions:
          _save: ~
          _save_and_add: ~