html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #eee;
}
#header-layout{
  background-image: url("../images/logo_header.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}
table.user-info{   
  margin: 0;
  font-size: 11px;
}
table.user-info td{
  border:0;
  white-space: nowrap;
  padding:2px 0;
}
#footer-layout{
  border:0px;
  background-color: transparent;
  padding: 2px 0;
  text-align: center;
}

/*OVERWRITE SF ADMIN STYLES*/
#sf_admin_container fieldset.dijitFieldset
{
  margin-bottom: 1em;
  border: 1px solid #808080;    
}