generator:
  class: sfDoctrineGenerator
  param:
    model_class:           Internado
    theme:                 admin
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          internado
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:  ~
      list:    
        title: Lista de Personas Hopitalizadas
      filter:  
        display: [cama_id]
      form:    
        display:
          Datos Internado: [formulario_referencia, diagnostico, procedencia, medio_referencia, observaciones, fecha, hora, conducto, es_afiliado]
          Datos Medico: [medico_id, medico_consulta_id, medico_referencia_id]
          Ubicadion: [categoria_id, cama_id]
          Datos Alta: [alta, altaFecha, altaHora, diagnostico_alta, tratamientio, lugar_referencia_salida, medio_referencia_salida, motivo_refe_retorno]
      edit:    
        title: Editar Internado %%%%
      new:
        title: Nuevo Hospitalizado
